/* Coolors Exported Palette - https://coolors.co/e8e6e7-dcd7d3-f5f5f5-030e50-0213a3 */

/* CSS HEX */
--platinum: #E8E6E7ff;
--timberwolf: #DCD7D3ff;
--white-smoke: #F5F5F5ff;
--federal-blue: #030E50ff;
--zaffre: #0213A3ff;

/* CSS HSL */
--platinum: hsla(330, 4%, 91%, 1);
--timberwolf: hsla(27, 11%, 85%, 1);
--white-smoke: hsla(0, 0%, 96%, 1);
--federal-blue: hsla(231, 93%, 16%, 1);
--zaffre: hsla(234, 98%, 32%, 1);

/* SCSS HEX */
$platinum: #E8E6E7ff;
$timberwolf: #DCD7D3ff;
$white-smoke: #F5F5F5ff;
$federal-blue: #030E50ff;
$zaffre: #0213A3ff;

/* SCSS HSL */
$platinum: hsla(330, 4%, 91%, 1);
$timberwolf: hsla(27, 11%, 85%, 1);
$white-smoke: hsla(0, 0%, 96%, 1);
$federal-blue: hsla(231, 93%, 16%, 1);
$zaffre: hsla(234, 98%, 32%, 1);

/* SCSS RGB */
$platinum: rgba(232, 230, 231, 1);
$timberwolf: rgba(220, 215, 211, 1);
$white-smoke: rgba(245, 245, 245, 1);
$federal-blue: rgba(3, 14, 80, 1);
$zaffre: rgba(2, 19, 163, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-right: linear-gradient(90deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-bottom: linear-gradient(180deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-left: linear-gradient(270deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-top-right: linear-gradient(45deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-bottom-right: linear-gradient(135deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-top-left: linear-gradient(225deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-bottom-left: linear-gradient(315deg, #E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);
$gradient-radial: radial-gradient(#E8E6E7ff, #DCD7D3ff, #F5F5F5ff, #030E50ff, #0213A3ff);